<div class="container">
    <h2>Driven  Forms</h2>
    <form #f="ngForm" (submit)="save(f)">
        <div class="form-group">
            <label>Login</label>
            <input name="login" type="text" class="form-control" required ngModel #l="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
            The login is a required field
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="text" class="form-control" required ngModel #e="ngModel"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
        </div>
        <div class="alert alert-danger" *ngIf="e.invalid && e.touched">
            <div *ngIf="e.errors?.['required']">The email is a required field</div>
            <div *ngIf="e.errors?.['pattern']">The email dosen't seem right</div>
        </div>
        <div class="form-group">
             <label>Password</label>
            <input name="password" type="password" class="form-control" required ngModel #p="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
            The password is a required field
        </div>
    <button type="submit" class="btn btn-success mt-2" [disabled]="f.invalid">Save</button>
    </form>
</div>